h4 add item page

label(for='name') Item Name
input(type='text', id='name', placeholder='whats the new items name', required)
br
label(for='description') Description
input(type='text', id='description', placeholder='description', required)
br
br
button(ng-click='addItem()') Add Item
