div(ng-controller='NewInvestmentCtl')
	h3 NEW INVESTMENT

	p liquid assets {{data.liquidAssets}}

	input(type='text', id='productSearch', ng-model='search', placeholder='invest in what?')
	button(ng-click='productsSearch()') Search
	br
	br
	button(ng-click='toAddItem()') Add Item

	ul
		li(ng-repeat='x in products')
			p {{x.productId}}

