div(ng-controller='NewOfferCtl')
	h3 NEW OFFER

	input(type='text', id='investmentsSearch', placeholder='What would you like to sell')
	button(ng-click='investmentsSearch()') Search

	ul
		li(ng-repeat='investment in canSell')
			ul
				li(ng-repeat='(key, value) in investment')
					p {{key}}: {{value}}

