h3 option list

ul
	li 
		button(ng-click='toItemPage()') Item Sell
	li 
		button(ng-click='toItemPage()') Item Sell
	li 
		button(ng-click='toItemPage()') Item Sell
	li 
		button(ng-click='toItemPage()') Item Sell
