h3 option list

ul
	li 
		button(class='vertical', ng-click='toItemPage()') Item Sell
	li 
		button(class='vertical', ng-click='toItemPage()') Item Sell
	li 
		button(class='vertical', ng-click='toItemPage()') Item Sell
	li 
		button(class='vertical', ng-click='toItemPage()') Item Sell
