p
|Invest in some of your favorite things.
|When everyone realizes how great these things are,
|sell your investment for a profit and invest in more things.  
|See how much stock you can pile up.     
br
input(type='text', name='email', placeholder='Email Signup/In')
br
button(onclick='#') Play Demo

