h3 Sign In
form(novalidate)
	label(for='email') Email: 
	input(type='text', name='email', placeholder='Email Signup/In')
	br
	label(for='password') Password: 
	input(type='password', name='password')
	br
	input(type='submit')
br

