p
|Invest in some of your favorite things.
|When everyone realizes how great these things are,
|sell your investment for a profit and invest in more things.  
|See how much stock you can pile up.     
br
form(novalidate)
	input(type='text', name='email', placeholder='Email Signup/In', ng-model='email')
	br
	a(href='signup', ng-click='save()') Submit
br
a(href='#') Play Demo

