extends layout

block body
  div(ng-controller='AppCtrl')
    img(src='./img/logo.gif', alt='Stockpile Logo')
    h1 Stockpile
    h2 Show your support
    p
    |Invest in some of your favorite things.
    |When everyone realizes how great these things are,
    |sell your investment for a profit and invest in more things.  
    |See how much stock you can pile up.     
    br
    br
    a(href='signin', id='signin') Sign In
    a(href='signup', id='signup') Sign Up
    br
    hr
    div(ng-view)


