extends layout

block body
	div(ng-controller='LoggedInCtl')
		h3 LOGGED IN {{loggedInUser()}}
		img(src='./img/logo.gif', alt='Stockpile Logo')
		ul
			li
				a(href='user') Home
			li
				a(href='invest') Invest
			li
				a(href='sell') Sell

			li
				form(action='/logout', method='get')
					input(type='submit', value='Log out')
		hr

		div(ng-view)
