/* app css stylesheet */
/*Right now all it does is make the lists display correctly
 *  TODO: WORK WITH THE DESIGN OF THE SITE*/
li{
	display:inline;
	margin: 1em;
}

form{
	display:inline;
}

.vertical{
	display:block;
}

img{
	width:100px;
	height:100px;
}



